/*specification*/
@font-face {
    font-family: 'Uni Sans';
    src: url('Uni_Sans_Heavy.otf');
}

body {
	font-family: 'Uni Sans';
    margin-left: -100px;
    zoom: 0.85;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #000;
}


/*header*/


/*header*/
.header {
    padding-top: 50px;
    padding-bottom: 0px;
}

.logo {
    width: 239px;
    height: 120px;
}
.search {
    margin-top: 26px;
    margin-left: 50px;
    padding-top: 12px;
    width: 550px; /* Ширина поля с кнопкой */
    height: 70px;
    border: 4px solid #919191; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
}
.search__icon {
    padding-left: 20px;
    color: #949494;
    font-size: 27px;
}
.search__input {
    color: #919191;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 450px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    padding-left: 15px;
    font-size: 20px;
    margin-left: 20px;
}

.location {
    margin-left: 20px;
    margin-top: 30px;
}

.location__logo {
    color: #3d3d3d;
    font-size: 40px;
}

.location__M {
    margin-top: 8px;
    margin-left: 10px;
    color: #585858;
    font-size: 23px;
    padding-top: 10px;
}

/*content*/
/*menu*/

.content {
    margin-top: 50px;
}

.form {
    margin-top: 50px;
}

.btn__login {
    margin-bottom: 25px;
    background: black;
    color: white;
    border: none;
    font-size: 40px;
    font-family: 'Uni Sans';
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}

.btn__login:hover {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}

.btn__login:active, :focus {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}

.form__btn {
    margin-bottom: 15px;
    background: white;
    color: #5b5b5b;
    border: none;
    font-size: 33px;
}

.form__btn:hover {
    color: black;
}

.form__btn:active, :focus {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}

/*offer*/
.offer {
    background-image: url(/resources/img/main.png);

    background-repeat: no-repeat;
    margin-left: 70px;
    height: 1000px;
}

/* кнопка атосферные заведения*/
.offer__btn1 {
    width: 450px;
    height: 300px;
    margin-top: 160px;
    margin-left: 30px;
}

/* кнопка бонусов*/
.offer__btn2 {
    width: 270px;
    height: 310px;
    margin-top: 110px;
    margin-left: 60px;
}

/* кнопка где есть устрицы*/
.offer__btn3 {
    width: 400px;
    height: 300px;
    margin-top: 70px;
    margin-left: 30px;
}

/* кнопка авторский сет*/
.offer__btn4 {
    width: 360px;
    height: 300px;
    margin-left: 70px;
    margin-top: 20px;
}
.restaurants{
    margin-left: 35px;
    margin-top: 40px;
}
.restaurants h1{
    font-size: 64.74px;

}
.infoofRest {
    margin-top: 8px;
}
.restaurants h3 {
    font-size: 38px;
    color: #2c2c2c;
}
.restaurants p {
    font-size: 19px;
    color: #58585b;
    margin-top: 18px;
}
.time {
    margin-top: 10px;
    margin-left: -60px;
    width: 500px;
}
ul.restaurants  li {
    display: inline;
    width: 400px;
}
.restaurants li{
    float: left;
    margin-left: 25px;

}
.rest img{
    margin-left: 10px;
    width: 495px;
}
.rest__btn {
    margin-left: 10px;
}
.rest__btn button {
    margin-left: 35px;
    margin-bottom: 10px;
    width: 170px;
    height: 70px;
    background: white;
    color: #5b5b5b;
    border-color: #191919;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
}

.rest__btn button:hover {
    background-color: black;
    color: white;
}

.rest__btn button:active, :focus {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}
.rest__btnBlack button {
    margin-left: 0px;
    width: 492px;
    height: 70px;
    background: white;
    color: white;
    border-color: #191919;
    font-size: 22px;
    background-color: #000000;
    cursor: pointer;
}

.rest__btnBlack button:hover {
    background-color: white;
    color: black;
}

.rest__btn button:active, :focus {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
}
#btnInterier {
    margin-left: 28px;
}

/*заказ стола*/
.oknoZakaza {
    margin-top: 47px;
    margin-left: 30px ;
}

.oknoZakaza h6 {
    width: 400px;
    color: #58585b;
}
ul.oknoZakaza  li {
    display: inline;
    width: 400px;
}
.oknoZakaza li {
    float: left;
    margin-left: 35px;
}
.date {
    margin-top: 30px;
}

.date1 {

    width: 300px;
    height: 55px;
    border: 2px solid black;
}
.date1 img {
    height: 20px;
    width: 20px;
    margin-left: 25px;
    margin-top: 15px;
}
.date1 p{
    text-align: center;
    margin-left: 53px;
    font-size: 18px;
    padding-top: 12px;
}
.addDel {
    border: 2px solid black;
    width: 200px;
    height: 55px;
    margin-left: 15px;
}
.add {
    margin-top: -2px;
    margin-left: -17px;
    height: 55px;
    width: 55px;
    background: black;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.add:hover{
    background: white;
    color: black;
    border: 2px solid black;
}
.del {
    margin-top: -2px;
    margin-right: -17px;
    height: 55px;
    width: 55px;
    background: black;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.del:hover{
    background: white;
    color: black;
    border: 2px solid black;
}

#add_num {
    height: 40px;
    width: 120px;
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
    border: none;
}
.status__1 {
    color: black;
    background: black;
    width: 45px;
    height: 30px;
}
.date2 p {
    padding-top: 4px;
    margin-left: 10px;
    color: #2c2c2c;

}

.status__2 {
    color: white;
    background: white;
    width: 44px;
    height: 30px;
    border: 1px solid black;
}
.date2 {
    margin-top: 30px;
}

#addTime {
    width: 120px;
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}
.statusTime {
    margin-left: 40px;
    padding-top: 13px;
}
.shema {
    margin-left: 14px;
    background-size: 660px;
    background-image: url(/resources/img/shema.png);
    background-repeat: no-repeat;
}
.blackTable {
    background-size: 70px;
    background-image: url(/resources/img/blackTable.png);
    background-repeat: no-repeat;
}
.whiteTable{
    background-image: url(/resources/img/whiteTable.png);
    background-size: 70px;
    background-repeat: no-repeat;
}
.tables {
    margin-top: 30px;
    margin-left: 20px;
}

.whiteTable, .blackTable {

}
.whiteTable p {
    color: black;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 50px;
}
.blackTable p {
    color: white;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 50px;
}
#t7 {
    margin-left: 10px;
}
#t1 {
    margin-left: -10px;
}
#t10 p{
    padding-left: 5px;
}
#t11 p{
    padding-left: 7px;
}
#t3 {
    margin-top: 60px;
    margin-left: -10px;
}
#t12 {
    margin-top: 80px;
    margin-left: 97px;
}
#t13 {
    margin-top: 80px;
    margin-left: -5px;
}
#t12 p{
    margin-left: 17px;
}
#t13 p{
    margin-left: 17px;
}
#t4 {
    height: 50px;
    margin-left: -10px;
    margin-top: 9px;
}
#t4 p{
    padding-top: 10px;
}
#t5 {
    height: 50px;
    margin-left: -10px;
    margin-top: 36px;
}
#t5 p{
    padding-top: 10px;
}
#t6 {
    height: 50px;
    margin-left: -10px;
    margin-top: 36px;
    margin-bottom: 10px;
}
#t6 p{
    padding-top: 10px;
}
.selectTable {
    padding-left: 190px;
    margin-top: 30px;
}
.selectTable p{
    font-size: 20px;
    margin-right: 20px;
    padding-top: 13px;
}
#numTable {
    height: 50px;
    width: 120px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}
.reserv {
    border: none    ;
    font-size: 25px;
    color: white;
    background: black;
    width: 500px;
    height: 70px ;
    margin-left: 80px;
}
.reserv:hover {
    color: black;
    background: white;
    border: 2px solid black;
}
.R {
    height: 100px;
}
*{
    outline: none !important
}



/*Личный кабинет*/
.personalRoom {
    width: 700px;
    margin-left: 100px;
    margin-top: 40px;
}
.personalRoom h1 {
    font-size: 60px;
}
.personalInfo {
    width: 600px;
}
.personalInfo p {
    font-size: 40px;
}
.personalInfo2 p {
    color: #58585b;
    font-size: 25px;
}
.zakazInfo p {
    color: #58585b;
    font-size: 35px;
}
.zakazInfo b {
    color: black;
    font-size: 40px;
}
.QR img{
    width: 300px;
    height: 300px;
}
/*Отзывы*/
.reviews {
    width: 700px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.reviews__form {
    margin-bottom: 20px;
}

.reviews h1 {
    font-size: 60px;
}
.reviews__form p {
    margin-left: 17px;
    margin-top: 40px;
    width: 400px;
    color: #58585b;
    font-size: 30px;
}
.reviews__form p.review {
    width: 720px;
    margin-top: -5px;
    font-size: 17px;
}
.reviews__form p.date {
    margin-top: -20px;
    font-size: 18px;
}
.reviews__write {
    margin-left: -14px;
}
textarea {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    color: #58585b;
    width: 720px;
    height: 120px;
    overflow: auto;
    resize: none;
    margin-left: 17px;
    outline: none;
    border: 3px solid #949494;
}
.reviews__form p.Name {
    color: #2c2c2c;
}
.addReview button{
    width: 130px;
    height: 40px;
    background: white;
    color: #949494;
    border: 3px solid #949494;
    font-size: 17px;
    cursor: pointer;
}

.addReview button:hover {
    border: none;
    background-color: #333333;
    color: #f0f0f0;
}
.cancel_reservation button {
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 430px;
    height: 40px;
    background: white;
    color: black;
    border: 2px solid black;
    font-size: 17px;
    cursor: pointer;
}
.cancel_reservation button:hover {

    background-color: black;
    color: white;
}

/*Контакты*/
.contacts_Rest h1 {
    font-size: 64.74px;
}
.contacts_Rest{
    margin-left: 110px;
    margin-top: 40px;
}
ul.contacts__time  li {
    display: inline;
    width: 400px;
    margin-right: 10px;
}
.contacts__time li{
    float: left;
    font-size: 25px;
}
#li_adrs {
    margin-left: 60px;
}
.li_num {
    margin-top: 15px;
}
.map {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
}
/*-----------------------------------*/
#colpupil {
    margin-left: 10px;
}
button:hover {
    cursor: pointer;
}